<!DOCTYPE html>

<html lang = "es">
    
<%- include ('../partials/head') %>

    <body>
    
        <%- include ('../partials/header') %>
        
<main>
    <h1> Bienvenidx! </h1>

    <div id="contenedorUsuario">
        <div id="foto">

            <img src= "/users/<%= user.image %> " >
        </div>

        <div id="datos">

            <p><%= user.name + " " + user.lastName%> </p>
            <p><%= user.email %></p>
        </div>

    </form>
    <form action = "/usuario/eliminar/<%= user.id %>?_method=DELETE" method="POST">
    <button type="submit" class="btn"> Eliminar usuario </button>
    </form>

    </div>
</main>

<%- include ('../partials/footer') %>

</body>

</html>

