<!DOCTYPE html>

<html lang = "es">
    
<%- include ('../partials/head') %>

    <body>
    
        <%- include ('../partials/header') %>
        
<main>
    <h1> Bienvenidx! </h1>

    <div id="contenedorUsuario">
        <div id="foto">

            <img src= "/users/<%=locals.userLogged.image%> " >
        </div>

        <div id="datos">
            <p><%= locals.userLogged.user_name + " " + locals.userLogged.last_name%> </p>
            <p><%= locals.userLogged.email %></p>
            <form action = "/usuario/eliminar/<%= locals.userLogged.id %>?_method=DELETE" method="POST">
                <button type="submit" class="btn"> Eliminar usuario </button>
            </form>
            <form action = "/usuario/salir" method="POST">
                <button type="submit" class="btn"> Logout </button>
            </form>
           
            <% if(locals.userLogged.role_id != 3) {%>
                <a href="/producto/crear"><button type="button" class="btn 2"> Crear producto </button></a>
            <% } %>
            <form action = '/eliminar-carrito/<%= locals.userLogged.id %>?_method=DELETE' method="POST">
                <button type="submit" class="btn 2"> Eliminar Carrito </button>
            </form>
            
        </div>
    </div>
</main>

<%- include ('../partials/footer') %>

</body>

</html>

