<!DOCTYPE html>

<html lang = "es">
    
<%- include ('../partials/head') %>

    <body>
    
        <%- include ('../partials/header') %>
        
<main>
    <h1> Bienvenidx! </h1>

    <div id="contenedorUsuario">
        <div id="foto">

            <img src= "/users/<%=locals.userLogged.image%> " >
        </div>

        <div id="datos">

            <p><%= locals.userLogged.name + " " + locals.userLogged.lastName%> </p>
            <p><%= locals.userLogged.email %></p>
        </div>

  
    <form action = "/usuario/eliminar/<%= locals.userLogged.id %>?_method=DELETE" method="POST">
    <button type="submit" class="btn"> Eliminar usuario </button>
    </form>
    <form action = "/usuario/salir" method="POST">
        <button type="submit" class="btn"> Logout </button>
    </form>
    </div>
</main>

<%- include ('../partials/footer') %>

</body>

</html>

