<!DOCTYPE html>

<html lang = "es">
    
    <%- include ('../partials/head') %>
    
    <body>
    
        <%- include ('../partials/header') %>
        <main>

            <h1> Carrito de compras </h1>

                <div id="cart"> 
                <% if (cartProducts.length === 0) { %>
                    <h4 id="empty"> Tu carrito de compras está vacío </h4>
                <% } else { %>

                <% cartProducts.forEach(product => { %> 
                    <div id="product-container">
                        <img src="/products/<%= product.images[0].image_path%>" alt="">
                        <div id="product-info">
                            <%= product.product_name %>
                            <%= product.price %>
                        </div>
                    </div>                    
                <% }) %>
            <% } %>
        </div>

        <h3 id="total"> Total de la compra = $<%= cart.cart_total %> </h4>
        
        <form action = '/eliminar/<%= locals.userLogged.id %>?_method=DELETE' method="POST">
            <button type="submit" class="btn"> Vaciar carrito </button>
        </form>
    
        </main>
        

        <%- include ('../partials/footer') %>

</body>

</html>
