<!DOCTYPE html>

<html lang = "es">
    
    <%- include ('../partials/head') %>
    <body>
    
        <%- include ('../partials/header') %>

<nav class="izquierda">
        <a href="/">Inicio</a></li>
        <span> / </span>
        <a href=""> <%= product.category_id %> </a></li>
        <span> / </span>
        <a href=""> <%= product.product_name %> </a></li>
    </nav>

    
    

<section class="contenedor">


        <section id="miniaturas">
            <% product.image_id.forEach(image => { %>
                <img src="/products/<%= image %> " >
            <% }) %>
        </section>

        <section id="destacada">
            <img src= "/products/<%= product.image[0].image_path %> " >
        </section>

        <section class="contenedor-chico-2">
            <article class="detalles">
                <p><%= product.product_name %> </p>
            </article>
                <p class="precio">$<%= product.price %></p>
       
                <section class="medios-de-pago">
                    <h1 class="medios">MEDIOS DE PAGO</h1>
                    <div class="tarjetas">
                        <img src="https://upload.wikimedia.org/wikipedia/commons/1/16/Former_Visa_%28company%29_logo.svg" alt="Logo-de-visa">
                        <img src="https://upload.wikimedia.org/wikipedia/commons/a/a4/Mastercard_2019_logo.svg" alt="Logo-de-Mastercard">
                        <img src="https://upload.wikimedia.org/wikipedia/commons/b/bf/American_Express_Logo.svg" alt="Logo-de-AmericanExpress">
                        <img src="https://static.wikia.nocookie.net/logopedia/images/d/d2/MercadoPago_%28Horizontal%29.svg" alt="Logo-de-Mercadopago">
                    </div> 
                    </section>
         
            <section class="delivery">
                
                <% if (product.color_id.length > 0) { %>
                <P>COLOR:</P>
                <div class="colores">
                    <% product.color_id.forEach(color => { %>
                        <button class="<%= color %> btn-color" name="<%= color %> "></button>
                    <% }) %>
                </div>
                <% } %> 
                <% if (product.sizes.length > 0) { %>
                    <p>TALLE:</p>
                    <div class="tallles">
                        <% product.sizes.forEach(size => { %>
                            <button class="<%= size %> " name="<%= size %> "> <%= size %> </button>
                        <% }) %>
                    </div>
                <% } %>
            </section>

          <br>
            <input type="submit" class="agregar" value="Agregar al carrito" style="display: inline-block;">
            <section class="pago">
                <i class="fas fa-truck"></i>
                <span class="mediosFrase"> Medios de envío</span>
            <form >
                <input class="ingrese" type="text" id="codigoPostal" name="postalCode" placeholder="Ingrese su código postal">
                <button class="calcular" type="CALCULAR">Calcular</button>
                <br>
                <article class="correo">
                <a href=  "https://www.correoargentino.com.ar/formularios/cpa">No conozco mi código postal</a>
                </article>
            </form>
            </section> 
            <section>
                <form action = "/producto/editar/<%= product.id %>" method="GET">
                <button type="submit" class="btn"> Editar producto </button>
                </form>
                <form action = "/producto/eliminar/<%= product.id %>?_method=DELETE" method="POST">
                <button type="submit" class="btn"> Eliminar producto </button>
                </form>
            </section>  
        </section>
    </section>
    <section class="descripcion">
    <h1 class="titulo">Descripción:</h1>
    <br>
    <p class="explicacion"> <%= product.product_description %>:  </p>
    <br>
    <p>
        <%= product.description %>
    </p>
</section>


</section>



<%- include ('../partials/footer') %>

</body>

</html>

