<!DOCTYPE html>

<html lang = "es">
     
  <%- include ('../partials/head') %>
  <link rel= "Stylesheet" href= "/css/forms.css">
    <body>
        <%- include ('../partials/header') %>
        <script src="/js/productForm.js"></script>

<h1> Editar producto </h1>

<div class="errorsEV">
  <% if (locals.errors) { %>
      <% for (let error in errors ) { %>
      <p> <%= errors[error].msg %> </p>
   <% } %>
  <% } %>
</div>

<div class="errorsJV">
  <ul></ul>
</div>

<div id="formulario">

<form action = "/producto/actualizar/<%= product.id %>?_method=PUT" method="POST" enctype="multipart/form-data">
  <label for="name"> Nombre del producto </label>
  <input type="text" placeholder="nombre del producto" name="name" id="name" class="box">
  <label for="description" > Descripción </label>
  <textarea name="description" class="box" id="description" ></textarea>
  <label for="image"> Fotos del producto </label>
  <input type="file" name="image" id="file" multiple>
  <label for="category"> Categoría </label>
  <% categories.forEach(categoria => { %>
    <label for= "<%= categoria.id %>"><input type="radio" id="category" name="category" value="<%= categoria.id %> "> <%= categoria.category_name %> </label>
  <% }) %>
  <label for="colors"> Colores </label>
  <select name="colors[]" class="box select" multiple id="color">
    <option value=""> -- Elegí un color --</option>
    <% colors.forEach(color => { %>
    <option value="<%= color.id %>"> <%= color.color_name %></option>
    <% }) %>
  </select>
  <label for="sizes"> Talles </label>
  <select name="sizes[]" class="box select" multiple id="size">
    <option value=""> -- Elegí un talle --</option>
    <% sizes.forEach(talle => { %>
    <option value="<%= talle.id %>"> <%= talle.size_name %></option>
    <% }) %>
  </select>
  <label for="price"> Precio </label>
  <input type="range" name="price" class="box" min="0" step="10" max="4000" value="0" oninput="this.nextElementSibling.value = this.value" id="price">
  <output>0</output>
  <label for="stock"> Stock </label>
  <input type="number" name="stock" class="box" min="0" id="stock">
  <div id="buttons">
  <button type="reset"> Borrar  </button>
  <button type="submit"> Editar producto </button>
  </div>
</form>

</div>
<%- include ('../partials/footer') %>

</body>
</html>
