<!DOCTYPE html>

<html lang = "es">
    
    <%- include ('../partials/head') %>
    <link rel= "Stylesheet" href= "/css/product.css">
    <body>
    
        <%- include ('../partials/header') %>

        <main class="container">
          <nav id="filter">
            <ul type = none>
              <li>Elegir talle:</li>
              <ul>
                <li>Small</li>
                <li>Medium</li>
                <li>Large</li>
              </ul>
              <li>Elegir color: </li>
              <li>Categoría:</li>
              <ul>
                <li> On the go </li>
                <li> Baño </li>
                <li> Cocina </li>
              </ul>
            </ul>
          </nav>
            <section id= "products">
            <% products.forEach(product => { %>
                <article class="product_container">
                    <a href="/producto/detalle/<%= product.id %>" class="image_product">
                      <figure>
                        <img src="/products/<%= product.images[0] %> " alt="">
                      </figure>
                    </a>
                    <section class="description_product">
                      <h2><%= product.name %> </h2>
                      <h3>$<%= product.price %> </h3>
                    </section>
                  </article> 
            <% }) %>
            </section>
            
        </main>

        <%- include ('../partials/footer') %>

    </body>
    
    </html>
    