<!DOCTYPE html>

<html lang = "es">
    
    <%- include ('../partials/head') %>
    
    <body>
    
        <%- include ('../partials/header') %>

        <main class="container">
            <section id= "products">
            <% products.forEach(product => { %>
                <article class="product_container">

                    <a href="/producto/detalle/<%= product.id %>" class="image_product">
                      <figure>
<<<<<<< HEAD
                        <img src="/products/<%= product.images.image_path%>" alt="">
=======
                        <img src="/products/<%= product.images[0].image_path %> " alt="">
>>>>>>> dbdfd4d65bc134034765226a12a13b6965cf1803
                      </figure>
                    </a>
                    <section class="description_product">
                      <h2><%= product.product_name %> </h2>
                      <h3>$<%= product.price %> </h3>
                    </section>
                  </article> 
            <% }) %>
            </section>
            
        </main>

        <%- include ('../partials/footer') %>

    </body>
    
    </html>
    