<!DOCTYPE html>

<html lang = "es">
     
  <%- include ('./partials/head') %>

    <body>
    
      <%- include ('./partials/header') %>  

        <section id="banner_main">
            <article class="banner_container">
                <figure>
                    <img src="/img/slidder 1.jpg" alt="">
                </figure>
                <h2> SOMOS COMO NOS VINCULAMOS </h2>
            </article>
            
         </section>
         <section id="categorias">
           
            <article class="categorias_container">
                    <figure>
                       <a href="#"> BAÑOS </a> <img src="/img/baño.jpg" alt="">
                    </figure>
                </article>
                    <article class="categorias_container">
                       <figure>
                        <a href="#"> COCINA </a> <img src="/img/cocina.jpg"alt="">
                       </figure>
                    </article>
                       <article class="categorias_container">
                      <figure>
                        <a href=""> ON THE GO </a> <img src="/img/imagen 3.jpg" alt="">
                    </figure>
                </article>
            
        </section>
        
        
        <p id="frases">
            <h3> CUIDAR LA NATURALEZA, ES CUIDAR DE NOSOTROS </h3>
            
            <h4>DEJA TU HUELLA</h4>
        
        </p>
        
        <section id="products">
          <%  products.forEach(product => { %> 
            <article class="product_container">
              <a href="/producto/detalle/<%= product.id %>"" class="image_product">
                <figure>
                  <img src= "/products/<%= product.images[0] %>" >
                </figure>
              </a>
              <section class="description_product">
                <h2><%= product.name %></h2>
                <h3>$<%= product.price %></h3>
              </section>
            </article>
          <% });  %> 

        </section>
        <button type="submit" id="todoslosproduct" href= "/producto"> Ver todos los productos </button>
       
        <a  id="insta" href="#"><p>@ECO.BITAD</p> </a>
       
        <section id="deco">
            <article class="deco_container">
            <figure>
                <a href="#"><img src="\img\botella meraki fondo.jpg" alt=""></a>
            </figure>
        </article>
            <article class="deco_container">
                <figure>
                    <a href="#"><img src="\img\jabon fondo.jpg" alt=""></a>
                </figure>
            </article>     
            <article class="deco_container">
                <figure>
                    <a href="#"><img src="\img\bolsas fondo.png" alt=""></a>
                </figure>
            </article>
            <article class="deco_container">
             <figure>
                <a href="#"><img src="\img\desodorante solido.png" alt=""></a>            
            </figure>
        </article>

        </section>
    
        <%- include ('./partials/footer') %>

    </body>
</html>
